<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask-SocketIO Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.1/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io();

            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            socket.on('my_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });

            socket.on('test_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
            })

            socket.on('broadcast_response', function(msg) {
                $('#log').append('<br>' + $('<div/>').text(msg.data).html());
            })

            $('form#test').submit(function(event) {
                socket.emit('test_message', {data: 'Test message sent'});
                return false;
            });

            $('form#broadcast').submit(function(event) {
                socket.emit('broadcast_message', {data: 'broadcast triggered'});
                return false;
            });
        });
    </script>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="container mx-auto px-4">
        <h1 class="text-2xl font-bold text-gray-800 my-5">Flask-SocketIO Test</h1>
        <p>
            Async mode is: <b class="font-semibold">{{ async_mode }}</b><br>
        </p>
        <div class="mt-8">
            <h2 class="text-lg font-semibold">Send:</h2>
            <form id="test" method="POST" action="#" class="mt-4">
                <input type="submit" value="Test" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            </form>
            <form id="broadcast" method="POST" action="#" class="mt-4">
                <input type="submit" value="Broadcast" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            </form>
        </div>
        <div class="mt-8">
            <h2 class="text-lg font-semibold">Receive:</h2>
            <div id="log" class="mt-2 p-4 bg-white rounded shadow">
                <!-- Logs will appear here -->
            </div>
        </div>
    </div>
</body>
</html>
